@{
    @model IEnumerable<Billing.Presentation.Models.MainMenu>

    ViewData["Title"] = "Home Page";
}
@{
    var categories = (List<Billing.Presentation.Models.MainMenu>)ViewData["MyData"]; // Cast the list
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Home Page</title>
    <meta name="description" content="Marketplace for Bootstrap Admin Dashboards" />
    <meta name="author" content="Bootstrap Gallery" />
    <link rel="canonical" href="https://www.bootstrap.gallery/">
    <meta property="og:url" content="https://www.bootstrap.gallery">
    <meta property="og:title" content="Admin Templates - Dashboard Templates | Bootstrap Gallery">
    <meta property="og:description" content="Marketplace for Bootstrap Admin Dashboards">
    <meta property="og:type" content="Website">
    <meta property="og:site_name" content="Bootstrap Gallery">
    <link rel="shortcut icon" href="~/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <link href="~/css/main.css" rel="stylesheet" />
    <link href="~/css/vendor/overlay-scroll/overlayscrollbars.min.css" rel="stylesheet" />
</head>
<body>

    <div class="message"></div>
    <!-- Page wrapper start -->
    <div class="page-wrapper">

        <!-- Main container start -->
        <div class="main-container">

            <!-- Sidebar wrapper start -->
            <nav id="sidebar" class="sidebar-wrapper">

                <!-- Sidebar profile starts -->
                <div class="sidebar-user-profile">
                  @*  <img src="~/images/NoorFood.png" class="sidebar-logo  img-side" alt="" />*@

                </div>
                <!-- Sidebar profile ends -->
                @foreach (var item in categories)
                {
                    <span>@item.MainMenuName</span>
                    @foreach (var item1 in @item?.SubMenuList)
                    {
                        <span>@item1.SubMenuName</span>
                    }
                }

                <!-- Sidebar menu starts -->
                <div class="sidebarMenuScroll">

                    <ul class="sidebar-menu">
                        <li class="active current-page">
                            <a href="index.html">
                                <i class="bi bi-shop-window"></i>
                                <span class="menu-text">Sell </span>

                            </a>
                        </li>

                        <li>
                            @Html.ActionLink("Reports", "Report", "Product")
                        </li>

                        <li class="d-none">
                            <a href="profile.html">
                                <i class="bi bi-people-fill"></i>
                                <span class="menu-text">Profile</span>
                            </a>
                        </li>

                        <li class="treeview">
                            <a href="user.html">
                                <i class="bi bi-person-circle"></i>
                                <span class="menu-text">Admin</span>
                            </a>
                            <ul class="treeview-menu">
                                <li>@Html.ActionLink("Users", "AddUser", "User")</li>
                                <li>@Html.ActionLink("Products", "Product", "Product")</li>
                                <li>@Html.ActionLink("Roles", "Roles", "Roles")</li>
                                <li>
                                    <a href="theme.html">Theme</a>
                                </li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="login.html">
                                <i class="bi bi-upc-scan"></i>
                                <span class="menu-text">Login/Signup</span>
                            </a>
                            <ul class="treeview-menu">
                                <li>
                                    <a href="login.html">Login</a>
                                </li>
                                <li>
                                    <a href="signup.html">Signup</a>
                                </li>
                                <li>
                                    <a href="forgetPassword.html">Forget Password</a>
                                </li>

                            </ul>
                        </li>

                    </ul>
                </div>
                <!-- Sidebar menu ends -->
            </nav>
        </div>

        <div class="container body-content" style="margin-right:0">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
            </footer>

        </div>
        @RenderSection("scripts", required: false)
        <!-- Page wrapper end -->
        <!-- *************
            ************ JavaScript Files *************
        ************* -->
        <!-- Required jQuery first, then Bootstrap Bundle JS -->
        <script src="~/js/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
        <script src="~/js/bootstrap.bundle.min.js"></script>


        <!-- Custom JS files -->
        <script src="~/js/custom.js"></script>
        <script src="~/js/sell.js"></script>
        <div class="app-footer position-fixed bottom-0  w-100 " style="background-color: #e9edf2;">
            <h6>© Snmatrix 2023</h6>
        </div>
</body>
</html>